/* START LOGIN.aspx style*/

/*.loginform{
    margin:0 auto;
    max-width:400px;
}
.lblInvalidlogin{
    color:red;
    margin:top 15px;
}*/
html, body {
  
    height: 100%;
    background-color: #fbfcff;
    font-family: 'Open Sans';
    font-size:14px;
}

.header {
	margin: 10px 10px 10px 10px;
	background-color:White;
}

.header_left{
	text-align:left;
	margin-top:10px;
}

.header_right{
	text-align:right;
	margin-top: 10px;
	padding-top: 0px;
    color:Green;
}
/*.navbar-default
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    }*/

.navbar-default {
  border-radius: 0px;
  border: none;
}




.main-navbar {
    background: #333333;
    /*background: #02c4ac; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(left, #02c4ac, #0197d6); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(right, #02c4ac, #0197d6); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(right, #02c4ac, #0197d6); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to right, #02c4ac, #0197d6); /* Standard syntax */
    border: none;
    border-radius: 0;
}
.main-navbar .navbar-brand {
  color: #fff;
    font-weight:bold;
}
.main-navbar .navbar-nav>li>a {
  color: #fff;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px;
    margin-left: -10px;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
}
.btn
{
    font-size:11px;
  
    }

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 20px;
    bottom: 20px;
    display:none;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    border:1px solid #ccc;
    color: #fff;
}

.btn-default:hover {
    color: #000000;
    background-color: rgba(255,255,255,0.69);
    border:1px solid #000000;
}

.panel-default {
  border: 1px solid #e0e9f2;
}
.panel-default .navbar {
  background-color: #f0f3f8;
}




.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}

.footer {
    background-color:#333333;
    color:white;
    margin: 0 0 0 0px;
    padding-top: 15px;
    text-align:center;
    height: 100px; /* .push must be the same height as .footer */
}

.push {
    height: 100px; /* .push must be the same height as .footer */
}


.readonly {
    border:0px;
    background-color:white;
    font-weight:bold;
    width:300px;
}

.loading
{
    margin: auto;
    filter: alpha(opacity=100);
    opacity: 1;
    font-size: small;
    vertical-align: middle;
    top: 45%;
    position: fixed;
    right: 45%;
    text-align: center;
    background-color: White;
    height: 100px;
    z-index: 100002;
}

.backgroundloading
{
    background-color: White;
    filter: alpha(opacity=60);
    opacity: 0.60;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    height: 100%;
    z-index: 100002;
}

.spinner {
  width: 50px;
  height: 50px;
  /*position: relative;
  margin: 100px auto;*/
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #119d55;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}




