﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/aras/pages/arasSite.Master" CodeBehind="Default.aspx.vb" Inherits="CenterVisitEvaluation._Default1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
